@using Common;
@using Microsoft.Extensions.Options;
@using System.Globalization;
@inject IOptionsSnapshot<ProjectSettings> settings;
@inject IStringLocalizer<ResourceLibrary.Panel.Common.Auth.Layout.Layout> Localizer;
@{
     bool isRTL = CultureInfo.CurrentUICulture.TextInfo.IsRightToLeft;
   
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link async href="~/DTCMS/bundle/css/bundle.css" rel="stylesheet" asp-append-version="true">
    <link rel="manifest" href="/DTCMS/manifest/manifest.json">
    <meta name="theme-color" content="#3986D1">

</head>
<body dir='@(isRTL == true? "rtl":"ltr")'>



    <main
          class="bg-gray-50 min-h-screen pt-6">
        <div class="  max-w-2xl mx-auto">
            <div class="flex justify-between px-4 mb-16">
                <a href="/">
                    <svg width="106" height="69" viewBox="0 0 106 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M103.987 0.581498L105.535 0.548462C102.894 6.21855 100.381 13.0392 97.9367 18.9282L78.2656 66.7049C76.2615 66.9361 73.7813 67.0392 71.7453 67.1597C69.3871 61.4145 67.1503 54.9704 64.9335 49.1107L61.5551 40.1646C60.9088 38.4425 60.1109 36.4572 59.5867 34.7256C58.9312 36.5327 58.0811 40.2257 56.8217 41.341C51.8753 45.7224 41.9183 52.8343 35.1968 52.5583C34.5862 51.1258 34.0737 49.6552 33.5665 48.1822C31.7329 42.8565 29.7883 37.5514 27.9887 32.2156C26.8251 28.7661 26.828 26.1764 28.4889 22.959C29.0159 22.0168 29.6753 21.1552 30.4469 20.4004C32.4644 18.4118 34.5719 17.4717 37.3926 17.4986C38.7974 22.9233 40.2698 28.3302 41.8093 33.7184C42.5421 36.1973 43.2759 38.9953 44.3245 41.3258C47.8838 32.4095 51.3326 23.4495 54.6701 14.4479L57.5058 6.75309C58.0049 5.39174 58.7361 3.22118 59.3808 1.99638C60.1296 4.49841 61.4174 7.64378 62.3502 10.1181C64.1725 15.0008 66.0373 19.8676 67.9445 24.7177C70.3135 30.8091 72.6858 37.8813 75.3713 43.7569C76.6925 40.5003 77.992 36.4691 79.1948 33.1143C81.6235 26.4323 84.0185 19.7383 86.3795 13.0324L89.0031 5.6111C89.4668 4.29335 90.0502 2.40075 90.6134 1.20326C91.203 1.05085 93.896 0.992045 94.6816 0.958787L103.987 0.581498Z" fill="#101010" />
                        <path d="M33.339 0.0361144C37.344 -0.209243 42.5172 0.838038 46.369 1.89171C46.9687 2.05579 48.3217 7.09399 48.571 7.90384L51.414 16.8847L50.2841 19.914C45.7098 16.7482 41.6453 14.6853 35.9849 14.1153C30.6408 13.6032 25.8904 14.2915 21.6645 17.8765C7.74148 29.6884 13.2988 53.5802 32.3001 55.5164C40.9718 56.4 48.7089 51.3799 55.0415 46.1305C54.7201 47.0908 54.3316 48.1085 53.9863 49.0673C53.5068 50.0372 52.7408 52.2239 52.3122 53.3042C50.5129 57.8409 48.9954 62.663 47.137 67.1671C34.7594 70.908 20.7474 69.1313 11.0201 60.1275C4.26991 53.933 0.305654 45.2761 0.0257172 36.1188C-0.501999 21.0725 7.11003 8.14832 21.1833 2.24301C25.1669 0.571317 29.0823 0.17399 33.339 0.0361144Z" fill="#6E172D" />
                    </svg>



                </a>

                <img src="~/DTCMS/assets/images/icon/backArrow.svg"
                     alt="Back"
                     class="ltr:rotate-180 cursor-pointer self-center"
                     onclick="window.history.back()"
                     
                />
            </div>
            
            @RenderBody()

            <div class="flex justify-center items-center mt-[60px] mx-4  md:mx-0">
                <div>
                    @Localizer["Poweredby"]
                    <a class="mx-1"
                    target="_blank"
                    href="https://dariatech.com"><b class="font-bold">DariaCMS</b></a>
                </div>

                
            </div>
        </div>
            <div id="toastContainerArea" class=" fixed bottom-6 right-2/4 translate-x-1/2 hidden items-center w-full max-w-[344px]  p-4" role="alert">
            <div   id="toastMessageArea"></div>
            <button type="button"
            onclick="closeToast()"
                class=" absolute rtl:left-4 ltr:right-4 top-[25px] bg-transparent text-gray-400 rounded-lg focus:ring-2 p-1.5 inline-flex py-4 w-8"
                aria-label="Close">
                <span class="sr-only">Close</span>
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L6 4.58579L10.2929 0.292893C10.6834 -0.0976311 11.3166 -0.0976311 11.7071 0.292893C12.0976 0.683417 12.0976 1.31658 11.7071 1.70711L7.41421 6L11.7071 10.2929C12.0976 10.6834 12.0976 11.3166 11.7071 11.7071C11.3166 12.0976 10.6834 12.0976 10.2929 11.7071L6 7.41421L1.70711 11.7071C1.31658 12.0976 0.683417 12.0976 0.292893 11.7071C-0.0976311 11.3166 -0.0976311 10.6834 0.292893 10.2929L4.58579 6L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z"
                        fill="white" />
                </svg>
            </button>
        </div>
    </main>



    <script src="~/DTCMS/bundle/bundle.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>